{# templates/author/showAll.html.twig #}

<h1>Liste des Auteurs</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in list %}
            <tr>
                <td>{{ i.username }}</td>
                <td>{{ i.email }}</td>
                <td>
                    <a href="{{ path('author_details', {id: i.id}) }}">Détails</a> |
                    <a href="{{ path('update_author', {id: i.id}) }}">Modifier</a> |
                    <a href="{{ path('delete_author', {id: i.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet auteur ?');">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
